:root{
    --green-button: #01996D;
    --bg-white: #FFFFFF;
    --bg-grey: #E5E5E5;
    --bg-green: #245852;
    --color-text-hover: #094710;

}


body{
    background-color: rgb(255, 255, 255);
    font-family: Lato;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

.button-style{
background-color: var(--green-button);
cursor: pointer;
padding: 20px;
font-size: 18px;
border: none;
}

.button-style:hover{
    background-color: var(--bg-green);
    color: white;
}

.header-section{
    background-color: var(--bg-white);
}

.main-section{
    background-color: var(--bg-grey);
}

.section-color{
    background-color: var(--bg-green);
}

.hero-section{
    background-image: linear-gradient(
        to right,
        rgba(226, 229, 235, 0.4),
        rgba(210, 211, 220, 0.4)
      ),
      url(../image/BG.jpg);
    background-position: center;
    height: 800px;
    background-repeat:no-repeat;
}

.section-nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
}

.logo{
    color: var(--green-button);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.logo:hover{
    text-decoration: underline;
    color: var(--color-text-hover);
    cursor: pointer;
}

.nav-list:hover{
text-decoration: underline;
color: var(--color-text-hover);
cursor: pointer;
}

.footer-list{
    list-style: none;
    color: var(--bg-white);
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 25px;
    width: 200px;
}


.footer-el{
    margin-top: 70px;
}

.footer-el:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-el-nav{
    color: var(--bg-white);
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

.footer-el-nav:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--green-button);
}

.hero-title{
    color: var(--green-button);
    font-size: 65px;
    margin: 0;
}

.hero-style{
    width: 500px;
    padding-top: 175px;
}

.hero-text{
    font-size: 20px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 18px;
}